BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "LED0" SITE "A13" ;
LOCATE COMP "LED1" SITE "A12" ;
LOCATE COMP "LED2" SITE "B19" ;
LOCATE COMP "LED3" SITE "A18" ;
LOCATE COMP "LED4" SITE "B18" ;
LOCATE COMP "LED5" SITE "C17" ;
IOBUF PORT "LED0" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LED1" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LED2" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LED3" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LED4" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LED5" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LED6" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LED7" IO_TYPE=LVCMOS25 ;
LOCATE COMP "LED7" SITE "B17" ;
LOCATE COMP "LED6" SITE "A17" ;
LOCATE COMP "clk" SITE "A10" ;
LOCATE COMP "clk_enable" SITE "C11" ;
IOBUF PORT "clk" IO_TYPE=LVCMOS25 ;
IOBUF PORT "TX" IO_TYPE=LVCMOS25 ;
IOBUF PORT "clk_enable" IO_TYPE=LVCMOS25 ;
LOCATE COMP "TX" SITE "D14" ;
IOBUF PORT "SPI2_16_ss" IO_TYPE=LVCMOS33D ;
IOBUF PORT "reset" IO_TYPE=LVCMOS25 ;
LOCATE COMP "RX" SITE "E14" ;
